venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.pytest_cache
*.db
*.sqlite3
.env
.idea
.vscode
.DS_Store
data/
